* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Karla", sans-serif;
}

:root {
  --header-bg-color: #050872;
  --main-bg-color: #020733;
  --card-bg-color: radial-gradient(
    circle 610px at 5.2% 51.6%,
    #050872 0%,
    #070335 97.5%
  );
  --search-bg-color: #fff;
  --primary-text-color: #e1e3eb;
  --secondary-text-color: #8692bd;
  --primary-color: #050872;
  --accent-color: #ebe645;
  --shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

body {
  background-color: var(--main-bg-color);
}
